In [2]:
import pandas as pd

In [3]:
def get_midpoints(feature_data):
    # Sort the data in ascending order
    sorted_data = sorted(feature_data)
    
    # Find midpoints between adjacent values
    midpoints = []
    for i in range(len(sorted_data) - 1):
        midpoint = (sorted_data[i] + sorted_data[i+1]) / 2.0
        midpoints.append(midpoint)
        
    return midpoints

In [4]:
df = pd.read_csv("trial.csv")

In [5]:
df.head()

,Sector_score,LOCATION_ID,PARA_A,SCORE_A,PARA_B,SCORE_B,TOTAL,numbers,Marks,Money_Value,MONEY_Marks,District,Loss,LOSS_SCORE,History,History_score,Score,Risk
0,3.89,23,4.18,6,2.50,2,6.68,5.0,2,3.38,2,2,0,2,0,2,2.4,1
1,3.89,6,0.00,2,4.83,2,4.83,5.0,2,0.94,2,2,0,2,0,2,2.0,0
2,3.89,6,0.51,2,0.23,2,0.74,5.0,2,0.00,2,2,0,2,0,2,2.0,0
3,3.89,6,0.00,2,10.80,6,10.80,6.0,6,11.75,6,2,0,2,0,2,4.4,1
4,3.89,6,0.00,2,0.08,2,0.08,5.0,2,0.00,2,2,0,2,0,2,2.0,0

In [9]:
import numpy as np 
import math

# Class for decision nodes 
class Node:
    
    # Init function 
    def __init__(self, x, y, attribute_types):
        self.x = x
        self.y = y
        self.attribute_types = attribute_types
        self.left = None
        self.right = None
        self.classes = np.unique(y)


    # Calculate the entropy of the node with their data
    def calc_entropy(self):
        entropy = 0
        for cls in self.classes:
            probab = np.count_nonzero(self.y == cls) / self.y.size
            entropy -= probab * math.log2(probab)
        return entropy

    # Find all split points on the data
    def find_split_pts(self):
        return # (feature,value)[]


    # Generate left and right nodes with given split point
    def generate_nodes(self, split_pt):
        return # (left_node, right_node)
    

    # Calculate the decision score by using left and right nodes. 
    # Explanation: Calculate the entropies of both left and right nodes and normalize them. 
    def calc_decision_score(self, node_left, node_right):
        return 0

# Test Area

In [7]:
import pandas as pd
import numpy as np

# df = pd.read_csv("trial.csv")


# create a pandas DataFrame
df = pd.DataFrame({
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'Age': [25, 42, 32, 18, 47],
    'Income': [50000, 60000, 70000, 45000, 80000],
    'MaritalStatus': ['Married', 'Single', 'Married', 'Single', 'Married'],
    'BoughtInsurance': ['Yes', 'No', 'Yes', 'No', 'Yes']
})


# Split x and y
y = df["BoughtInsurance"].values
x = df.drop("BoughtInsurance",axis=1)

attribute_types = np.array(x.keys())
x = x.values


root = Node(x,y,attribute_types)

val = root.calc_entropy()
print(val)

None

In [10]:
# calculate the proportion of each class in the dataset
class_counts = df['BoughtInsurance'].value_counts(normalize=True)

# calculate the entropy
entropy = -sum(class_counts * np.log2(class_counts))

print(f"Entropy: {entropy:.3f}")

Entropy: 0.971

In [12]:
class_counts * np.log2(class_counts)

Yes   -0.442179
No    -0.528771
Name: BoughtInsurance, dtype: float64

In [13]:
class_counts

Yes    0.6
No     0.4
Name: BoughtInsurance, dtype: float64

In [14]:
np.log2(class_counts)

Yes   -0.736966
No    -1.321928
Name: BoughtInsurance, dtype: float64

In [16]:
math.log2(0.4)

-1.3219280948873622